.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
}

.flex-container > * {
    flex: 25%
}

@media (max-width: 800px) {
    .flex-container > * {
        flex: 100%
    }
  }