<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Retrieval</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script defer>
        document.addEventListener('DOMContentLoaded', listFiles);
    </script>
</head>
<body>
    {% set active_page = active_page|default('index') -%}

    <div class="content"></div>
        <h1 class="p-2 text-center">Document Retrieval Application</h1>
    </div>
    
    <div class="topnav">
        <a href="/documents" {% if active_page == "index" %} class="active"{% endif %}>Upload File</a>
        <a href="/extract" {% if active_page == "extract" %} class="active"{% endif %}>Extract</a>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
