{% extends 'base.html' %}
{% set active_page = "index" %}

{% block content %}
<!-- File Upload Form -->
<div id="filesPanel">
    <div class="card p-2">
        <h2>Upload document</h2>
        <input type="file" name="fileInput" id="fileInput" accept=".pdf">
        <button onclick="uploadDocument()">Upload</button>
        <p id="uploadStatus"></p>
    </div>
    
    <!-- List of Files -->
    <div>
        <h2 class="p-2 ">Uploaded file</h2>
        <ul id="fileList" class="flex-container"></ul>
    </div> 
</div>
{% endblock %}