@import "_float.css";
@import "_flex.css";

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: auto;
}

input[type=text], input[type=file], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button {
    background-color: #8aaea1;
    color: white;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.negative-btn {
    background-color: tomato;
}

#fileList, #resultsList {
    padding: 0;
    list-style-type: none;
}

#fileList li, #resultsList li{
    padding: 4px;
}

#fileList li button, #resultsList li button {
    margin-right: 4px;
}

.topnav {
    margin: 0;
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 18px;

    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}

.topnav a.active {
    background-color: #8aaea1;
    color: white;
}

.content, .content * {padding: 4px}

.card {
    padding: 8px !important;
    background-color: rgb(250, 250, 250);
    box-shadow: 4px 4px #8aaea1;
}

@media only screen and (min-width: 769px) {
    body {
        max-width: 50vw;
    }
}