body {
    font-family: Arial, sans-serif;
    padding: 0 20px;
    max-width: 800px;
    margin: auto;
}

input[type=text], input[type=file], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button {
    background-color: #8aaea1;
    color: white;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.negative-btn {
    background-color: tomato;
}

#fileList, #resultsList {
    list-style-type: none;
}

#fileList li, #resultsList li{
    padding: 4px;
}
#fileList li button, #resultsList li button {
    margin-right: 4px;
}

.topnav {
    margin: 0;
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 18px;

    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}

.topnav a.active {
    background-color: #8aaea1;
    color: white;
}